.profile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

// .MuiAvatar-img {
//   transform: translateZ(0);
// }

.profile-workout {
  border-top: 5px solid rgb(0 0 0 / 80%);
  border-bottom: 5px solid rgb(0 0 0 / 80%);
  max-width: 600px;
  margin: 0 auto;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;

    &_right {
      display: flex;
      align-items: center;
    }
  }
}

.profile-video {
  margin-top: 30px;
}

.workout-box {
  background-image: url("./assets/arni.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;

  &__workout {
    background-color: rgb(0 0 0 / 62.3%);
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

.workout-list {
  color: white;
}

.profile-popup {
  &__content {
    text-align: center;
    padding: 20px;
    border: 2px solid aqua;
  }
}
