@use "./components/FormCreateWorkout/FormCreateWorkout.scss";
@use "./components/profile/profile.scss";
@use "./components/YoutubeEmbed/YoutubeEmbed.scss";
@use "./components/Post/Post.scss";
@use "./pages/style-scss/UserCreateWorkout.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 60px;
}

.smooth-image {
  transition: opacity 1s;
}

.image-visible {
  opacity: 1;
}

.image-hidden {
  opacity: 0;
}

.smooth-preloader {
  background-color: aqua;
  position: absolute;
  width: 100%;
  height: 100%;
}
